<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Docline SDK</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container"> -->
  <ion-item>
    <ion-label position="stacked">Ready to join?</ion-label>
    <ion-input placeholder="Enter code" [(ngModel)]="code"></ion-input>    
  </ion-item>
  <section class="full-width">
    <ion-button expand="full" color="secondary" (click)="join()">Join</ion-button>
  </section>
  <!-- </div> -->
</ion-content>
